<!DOCTYPE html>
<html>

<head>
    <title>Life Counter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="assets/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="assets/stylesheets/screen.css" type="text/css" />
</head>

<body>
    <div id="vue-app">
        <section id=counters>
            <div v-if="showInfo" id="infoButton" v-on:click="showInfo=false">X</div>
            <div v-else id="infoButton" v-on:click="showInfo=true">i</div>
            <life-counter v-for="counter in counters" v-bind:init-rotation="counter.initRotation"
                v-bind:init-count="counter.initCount">
            </life-counter>
        </section>
        <section id="info" v-if="showInfo" v-on:click="showInfo=false">
            <div id="compassCenter" v-bind:style="compassStyle">
                <div id="needleWrapper" v-bind:style="uprightStyle">
                    <div id="deviceRotation" v-bind:style="deviceRotation">
                        <div id="needle" class="center"></div>
                    </div>
                </div>
                <div class="north">
                    <div v-bind:style="uprightStyle">
                        <p class="compassText translateCenter">Constructed</p>
                    </div>
                </div>
                <div class="east">
                    <div v-bind:style="uprightStyle">
                        <p class="compassText translateCenter">Commander</p>
                    </div>
                </div>
                <div class="south">
                    <div v-bind:style="uprightStyle">
                        <p class="compassText translateCenter">1v1 Commander</p>
                    </div>
                </div>
                <div class="west">
                    <div v-bind:style="uprightStyle">
                        <p class="compassText translateCenter">Oathbraker</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/javascripts/script.js"></script>
</body>

</html>