:root {
    --menu-ratio: 0.05;
    --menu-width: calc(100vw * (var(--menu-ratio) - 0.01));
    --content-width: calc(100vw * (1 - var(--menu-ratio)));

    --counter-width: calc(100vw * ((1 - var(--menu-ratio)) / 2 - 3*0.01));
    --counter-height: 45vh;
    --display-height: 100%;
    --leftover-height: 0;
    --restricting-size: 25vw;
    --border-radius: 25px;
    --opacity: 0.4;
}

body {
    background-color: black;
}

#menu {
    width: var(--menu-width);
    display: inline-block;
    vertical-align: top;
    transition: width .5s ease-in-out,
}

#hamburger {
    color: white;
    height: 10vh;
    width: var(--menu-width);
    font-size: 4vw;
    line-height: 10vh;
    text-align: center;
    padding: 0;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
}

#slidingMenu {
    color: white;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#slidingMenu > button {
    display: block;
    text-align: center;
    height: 10vh;
    width: 100%;
    border: 1px solid white;
}

#counters {
    height: 100vh;
    width: var(--content-width);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
}

.life-counter{
    height: var(--counter-height);
    width: var(--counter-width);
    background-color: yellow;
    background-size: cover;
    background-position: center center;
    border-radius: var(--border-radius);
    transition: transform .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;

    --base-color: 0;
    --main-color: rgb(var(--base-color),var(--base-color),var(--base-color));
    --opaque-main-color: rgba(var(--base-color),var(--base-color),var(--base-color), var(--opacity));
    --base-contrast: calc(255 - var(--base-color));
    --contrast-color: rgb(var(--base-contrast),var(--base-contrast),var(--base-contrast));
    --opaque-contrast-color: rgba(var(--base-contrast),var(--base-contrast),var(--base-contrast), var(--opacity));

}

#menu .addCounter, #menu .removeCounter {
    height: 100%;
    width: 49vw;
    color: white;
    display: inline-block;
}

button {
    background-color: var(--main-color);
    border: none;
    color: var(--contrast-color);
    padding: 0;
}

.display {
    display: flex;
    height: var(--display-height);
    width: var(--counter-width);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--restricting-size)*0.25);
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.display > .contrasted  {
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 15px 20px;
    background-color: var(--opaque-contrast-color);
}

.display > .count {
    height: calc(var(--restricting-size)*0.5);
    width: calc(var(--restricting-size)*0.25);
    font-size: calc(var(--restricting-size)*0.25);
}

.rotation {
    display: flex;
    height: var(--leftover-height);
    align-items: center;
    justify-content: space-evenly;
}

.rotation > .rotate {
    height: calc(var(--leftover-height)*0.5);
    width: 25%;
    font-size: calc(var(--leftover-height)*0.25);
}

.rotation > .edit{
    height: calc(var(--leftover-height)*0.5);
    width: 33%;
    font-size: calc(var(--leftover-height)*0.25);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}

.edit-menu {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--contrast-color);
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.edit-menu > input {
    height: 25%;
    width: 75%;
    font-size: 24px;
    background-color: var(--main-color);
    color: var(--contrast-color);
    text-align: center;
}

.edit-menu > button {
    height: 25%;
    width: 33%;
}