:root {
    --counter-size: 45vh;
    --display-size: 30vh;
    --leftover-size: calc(var(--counter-size) - var(--display-size));
    --border-radius: 25px;
    --opacity: 0.4;
}

#vue-app {
    display: flex;
    height: calc(var(--counter-size) * 2);
    width: var(--counter-size);
    margin: 7.5vh auto 2.5vh auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
}

.life-counter{
    height: var(--counter-size);
    width: var(--counter-size);
    background-color: yellow;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-position: center center;
    border-radius: var(--border-radius);
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

    --base-color: 0;
    --main-color: rgb(var(--base-color),var(--base-color),var(--base-color));
    --opaque-main-color: rgba(var(--base-color),var(--base-color),var(--base-color), var(--opacity));
    --base-contrast: calc(255 - var(--base-color));
    --contrast-color: rgb(var(--base-contrast),var(--base-contrast),var(--base-contrast));
    --opaque-contrast-color: rgba(var(--base-contrast),var(--base-contrast),var(--base-contrast), var(--opacity));

}

#vue-app > .addCounter, #vue-app > .removeCounter {
    height: 5vh;
    width: 33vw;
    color: white;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
}

.removeCounter{
    left: 0;
}

.addCounter{
    right: 0;
}

button {
    background-color: var(--main-color);
    border: none;
    color: var(--contrast-color);
}

.display {
    display: flex;
    height: var(--display-size);
    width: var(--counter-size);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--display-size) * 2 / 3);
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.display > .contrasted  {
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 5px;
    background-color: var(--opaque-contrast-color);
}

.display > .count {
    height: calc(var(--display-size)*0.5);
    width: calc(var(--display-size)*0.25);
    font-size: calc(var(--display-size)*0.25);
}

.rotation {
    display: flex;
    height: var(--leftover-size);
    align-items: center;
    justify-content: space-evenly;
}

.rotation > .rotate {
    height: calc(var(--leftover-size)*0.5);
    width: 25%;
    font-size: calc(var(--leftover-size)*0.25);
}

.rotation > .edit{
    height: calc(var(--leftover-size)*0.5);
    width: 33%;
    font-size: calc(var(--leftover-size)*0.25);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}

.edit-menu {
    height: calc( var(--counter-size));
    width: calc( var(--counter-size));
    border-radius: var(--border-radius);
    background-color: var(--contrast-color);
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.edit-menu > button {
    height: calc(var(--leftover-size)*0.5);
    width: 33%;
    font-size: calc(var(--leftover-size)*0.25);
}

.edit-menu > input {
    height: calc(var(--leftover-size)*0.5);
    width: 75%;
    font-size: calc(var(--leftover-size)*0.25);
    background-color: var(--main-color);
    color: var(--contrast-color);
    text-align: center;
}

body {
    background-color: black;
}